{% extends "mc/base.html" %}
{% from "common/_macros.html" import static %}

{% block title %}
    佣金維護
{% endblock %}

{% block head %}
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/moxie.js"></script>
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/plupload.dev.js"></script>
    <script src="https://cdn.staticfile.org/qiniu-js-sdk/1.0.14-beta/qiniu.js"></script>
    <script src="{{ static('broker/js/brokermaintenance.js') }}"></script>
    <style>
        .top-box button {
            float: left;
        }
    </style>
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block main_content %}
    <form method="post" name="broker_list" action="{{ url_for('broker.show_count') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" name="search">
        <button class="btn btn-warning">搜尋</button>
    </form>
    <form method="post" name="commission_list" action="{{ url_for('broker.check_payment') }}" role="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div>
        {% if broker.broker_id %}
            <input list="Brokerlists" name="brokerchose" value="{{broker.broker_id}}" placeholder="{{ broker.brober_name }}{{ broker.phone }}" autocomplete="off">
        {% else %}
            <input list="Brokerlists" name="brokerchose" placeholder="確認broker" autocomplete="off">
        {% endif %}
            <datalist id="Brokerlists">
                {% for broker in brokers %}
                    <option name="brokerchose" value="{{broker.broker_id}}">
                        {{ broker.brober_name }}{{ broker.phone }}</option>
                {% endfor %}
            </datalist>
            {#            <h2>{{ broker.broker_name }}#}
            {#                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#broker-dialog">#}
            {#                    選擇Broker#}
            {#                </button>#}
            {#            </h2>#}
        </div>
        <div class="top-box">
{#            <button class="btn btn-warning" data-toggle="modal" data-target="#userset-dialog">新增</button>#}
            <button class="btn btn-warning add-broker-btn" type="button">新增</button>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>計</th>
                <th>/</th>
                <th>日期</th>
                <th>團體</th>
                <th>車次</th>
                <th>總額</th>
                <th>佣金</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {#            {% for commission in commissions %}#}
            {% for comm in comms %}
                <tr>
                    <td>
                        <input type="checkbox" name="order_num" value="{{ comm.order_num }}"/>
                        {#                        <input type="hidden" name="group_name" value="{{ commission.group_name }}"/>#}
                        {#                        <input type="hidden" name="car" value="{{ commission.car }}"/>#}
                        {#                        <input type="hidden" name="order_date" value="{{ commission.order_date }}"/>#}
                    </td>
                    <td>{{ comm.order_num }}</td>
                    <td>{{ comm.order_date }}</td>
                    <td>{{ comm.group_name }}</td>
                    <td>{{ comm.car }}</td>
                    <td>{{ comm.sale_amt }}</td>
                    <td>{{ comm.comm_amt }}
                        <button class="btn btn-default btn-xs edit-broker-btn" type="button" onclick="window.open('{{ url_for('broker.salesheet', order_num=comm.order_num) }}', '_blank')">明細</button>
                    </td>
                    <td>
                        <button class="btn btn-default btn-xs edit-broker-btn" type="button">結算</button>
                        <button class="btn btn-danger btn-xs delete-broker-btn" type="button">刪除</button>
                    </td>
                </tr>
                {#            {% endfor %}#}
            {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-warning" style="float: right">付款</button>
        {#        type="button"#}
    </form>
    {#    <div style="text-align: center">#}
    {#         {{ pagination.links }}#}
    {#    </div>#}
{% endblock %}