{% extends "mc/base.html" %}
{% from "common/_macros.html" import static %}

{% block title %}
    佣金計算
{% endblock %}

{% block head %}
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/moxie.js"></script>
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/plupload.dev.js"></script>
    <script src="https://cdn.staticfile.org/qiniu-js-sdk/1.0.14-beta/qiniu.js"></script>
    <script src="{{ static('broker/js/broker.js') }}"></script>
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block main_content %}
    <form method="post" name="commission_list" action="{{ url_for('broker.distribute') }}" role="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div>
            <input list="broker_ids" name="broker_id" placeholder="{{ broker.broker_id }}" value="{{ broker.broker_id }}">
            <datalist id="broker_ids">
                <option value="員工1">員工1</option>
                <option value="員工2">員工2</option>
                <option value="員工3">員工3</option>
                <option value="員工4">員工4</option>
                <option value="員工5">員工5</option>
                <option value="其他">其他</option>
            </datalist>
            <button type="button" class="btn btn-default btn-xs search-broker-btn">搜尋</button>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>項目</th>
                <th>計算</th>
                <th>團體</th>
                <th>車次</th>
                <th>總額</th>
            </tr>
            </thead>
            <tbody>
            {% for commission in commissions %}
                <tr>
                    <td>{{ commission.order_num }}</td>
                    <td>
                        <input type="checkbox" name="order_num" value="{{ commission.order_num }}"/>
                        <input type="hidden" name="group_name" value="{{ commission.group_name }}"/>
                        <input type="hidden" name="car" value="{{ commission.car }}"/>
                        <input type="hidden" name="order_date" value="{{ commission.order_date }}"/>
                    </td>
                    <td>{{ commission.group_name }}</td>
                    <td>{{ commission.car }}</td>
                    <td>{{ commission.subtotal }}</td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
        <button class="btn btn-warning" style="float: right">計算</button>
{#        type="button"#}
    </form>
{% endblock %}