{% extends "mc/base.html" %}
{% from "common/_macros.html" import static %}

{% block title %}
    佣金計算
{% endblock %}

{% block head %}
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/moxie.js"></script>
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/plupload.dev.js"></script>
    <script src="https://cdn.staticfile.org/qiniu-js-sdk/1.0.14-beta/qiniu.js"></script>
    <script src="{{ static('broker/js/broker.js') }}"></script>
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block main_content %}
    <form action="">
        <input type="text" name="get_broker_id">
        <button class="btn btn-warning">搜尋</button>
    </form>

    <form method="post" name="commission_list" action="{{ url_for('broker.distribute') }}" role="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div>
            <input list="Brokerlists" class="form-control" name="brokerchose" placeholder="確認Broker">
            <datalist id="Brokerlists">
                {% for broker in brokers %}
                    <option name="brokerchose" value="{{ broker.brober_name }}{{ broker.phone }}">
                        {{ broker.brober_name }}{{ broker.phone }}</option>
                {% endfor %}
            </datalist>
            {#            <h2>{{ broker.broker_name }}#}
            {#                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#broker-dialog">#}
            {#                    選擇Broker#}
            {#                </button>#}
            {#            </h2>#}
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>項目</th>
                <th>計算</th>
                <th>團體</th>
                <th>車次</th>
                <th>總額</th>
            </tr>
            </thead>
            <tbody>
            {% for commission in commissions %}
                <tr>
                    <td>{{ commission.order_num }}</td>
                    <td>
                        <input type="checkbox" name="order_num"
                               value="{{ commission.order_num }},{{ commission.group_name }},{{ commission.car }},{{ commission.order_date }}"/>
                    </td>
                    <td>{{ commission.group_name }}</td>
                    <td>{{ commission.car }}</td>
                    <td>{{ commission.subtotal }}</td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
        <button class="btn btn-warning" style="float: right">計算</button>
        {#        type="button"#}
    </form>

    <div class="modal fade" id="broker-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            onclick="location.reload()"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">選擇Broker</h4>
                </div>
                <div class="modal-body">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">姓名或電話：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="namecall" placeholder="姓名或電話">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.reload()">關閉
                    </button>
                    <button type="button" class="btn btn-primary" id="save-broker-btn">送出</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="brokerchose-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            onclick="location.reload()"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">搜尋結果</h4>
                </div>
                <div class="modal-body">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">確認Broker：</label>
                            <div class="col-sm-8">
                                <input list="Brokerlists" class="form-control" name="brokerchose"
                                       placeholder="確認Broker">
                                <datalist id="Brokerlists">
                                    {% for broker in brokers %}
                                        <option name="brokerchose" value="{{ broker.brober_name }}{{ broker.phone }}">
                                            {{ broker.brober_name }}{{ broker.phone }}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.reload()">關閉
                    </button>
                    <button type="button" class="btn btn-primary" id="save-brokerchose-btn">確認</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}