{% extends "mc/base.html" %}
{% from "common/_macros.html" import static %}

{% block title %}
    付款清單
{% endblock %}

{% block head %}
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/moxie.js"></script>
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/plupload.dev.js"></script>
    <script src="https://cdn.staticfile.org/qiniu-js-sdk/1.0.14-beta/qiniu.js"></script>
    <script src="{{ static('broker/js/payment.js') }}"></script>
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block main_content %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <form method="post" name="broker_list" action="{{ url_for('broker.payment') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" name="search" placeholder="輸入姓名或電話">
        <button class="btn btn-warning">搜尋</button>
    </form>
    <form method="post" name="commission_list" action="{{ url_for('broker.check_payment') }}" role="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div>
            {% if broker.broker_id %}
                <input list="Brokerlists" name="brokerchose" value="{{ broker.broker_id }}"
                       placeholder="{{ broker.brober_name }}{{ broker.phone }}" autocomplete="off" required>
            {% else %}
                <input list="Brokerlists" name="brokerchose" placeholder="確認broker" autocomplete="off" required>
            {% endif %}
            <datalist id="Brokerlists">
                {% for broker in brokers %}
                    <option name="brokerchose" value="{{ broker.broker_id }}">
                        {{ broker.brober_name }}{{ broker.phone }}</option>
                {% endfor %}
            </datalist>
            {#            <h2>{{ broker.broker_name }}#}
            {#                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#broker-dialog">#}
            {#                    選擇Broker#}
            {#                </button>#}
            {#            </h2>#}
        </div>
        <div class="top-box">
            {#        <button class="btn btn-warning" data-toggle="modal" data-target="#userset-dialog">新增</button>#}
            <button class="btn btn-warning add-payment-btn">新增</button>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>計</th>
                <th>日期</th>
                <th>付款狀態</th>
                <th>總金額</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for payment in payments %}
                <tr>
                    {% if payment.pay_status == '已付款' %}
                        <td>完成</td>
                    {% else %}
                        <td>
                            <input type="checkbox" name="order_num" value="{{ payment.payment }}"/>
                        </td>
                    {% endif %}
                    <td>{{ payment.pay_date }}</td>
                    <td>{{ payment.pay_status }}</td>
                    <td>{{ payment.total_amt }}</td>
                    {% if payment.pay_status == '已付款' %}
                        <td>已完成付款，不可操作</td>
                    {% else %}
                        <td>
                            <button class="btn btn-default btn-xs edit-payment-btn" type="button">編輯</button>
                            <button class="btn btn-danger btn-xs delete-payment-btn" type="button">刪除</button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
 <button class="btn btn-warning" style="float: right">確認付款單</button>
    </form>

{% endblock %}