{% from "common/_macros.html" import static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ static('mc/css/base.css') }}">
    <script src="{{ static('kanban/js/kanban.js') }}"></script>
    <script src="{{ static('mc/js/base.js') }}"></script>
    <script src="{{ static('common/zlajax.js') }}"></script>
    <link rel="stylesheet" href="{{ static('common/sweetalert/sweetalert.css') }}">
    <script src="{{ static('common/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ static('common/sweetalert/zlalert.js') }}"></script>

    <title>交易明細清單</title>
</head>
<body>
    <h1>交易明細清單</h1>
    <table class="table table-bordered">
    <thead>
    <tr>
        <th>商品編號</th>
        <th>數量</th>
        <th>金額</th>
    </tr>
    </thead>
    <tbody>
    {% for int in range(1,5) %}
        <tr>
            <td>商品編號</td>
            <td>數量</td>
            <td>金額</td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="3">總金額</td>
        </tr>

    </tbody>
</table>
</body>
</html>