{% from "common/_macros.html" import static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ static('mc/css/base.css') }}">
    <script src="{{ static('kanban/js/kanban.js') }}"></script>
    <script src="{{ static('mc/js/base.js') }}"></script>
    <script src="{{ static('common/zlajax.js') }}"></script>
    <link rel="stylesheet" href="{{ static('common/sweetalert/sweetalert.css') }}">
    <script src="{{ static('common/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ static('common/sweetalert/zlalert.js') }}"></script>

    <meta http-equiv="refresh" content="30">
    <title>看板</title>
</head>
<body>
<h1>即時看板</h1>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>車次</th>
        <th>團體</th>
        <th>總額</th>
    </tr>
    </thead>
    <tbody>
    {% for kanban in kanbans %}
        <tr data-car="{{ kanban.car }}"
            data-group_name="{{ kanban.group_name }}"
            data-sale_amt="{{ kanban.sale_amt }}">
            <td>{{ kanban.car}}</td>
            <td>{{ kanban.group_name}}</td>
            <td>{{ kanban.sale_amt }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</body>
</html>